
        <section class="breadcrumb_area breadcrumb_area-app-run">
         
        </section>

    

        <section class="login_area" style="background-color: #fbfbfb">
            <div class="container">
                <div class="row">
                     <div class="col-md-12">
                    </div>
                </div>
            </div>
        </section>


<section class="sign_in_area bg_color pt-3 pb-3">
            <div class="container" data-ng-if="contentShow == false">
                <div class="sign_info">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="l
                            ogin_info">
                                <h2 class="f_p f_600 f_size_24 t_color3 mb_40">Reset Password</h2>
                                 <form name="user.restForm" ng-submit="user.resetPassword" novalidate="novalidate" method="post" class="contact-form form-auth-small">
                              <div class="w-100 float-left"
							data-ng-show="failuremessage">
							<div class="text-danger">{{failuremessage}}</div>
						</div>
						<div  class="w-100 float-left" 
						data-ng-show="successmessage">
						<div class="alert alert-success">{{successmessage}}</div>
					</div>
                                    <div class="form-group text_box">
                                        <label class="f_p text_c f_400">New Password</label>
                                          <input type="password" class="form-control"  name="password" placeholder="Enter your new password" 
						data-ng-model="user.password"  required="required" >
						                       
						                        <div data-ng-show="restForm.$submitted || restForm.email.$dirty">
							<div class="angular-validate-error  text-danger text-left text-size12"
								data-ng-show="restForm.email.$error.required">Please Enter
								Your new password</div>
								
							<div class="angular-validate-error  text-danger text-left text-size12"
								data-ng-show="restForm.email.$error.pattern">Please
								Enter your new password</div>
						</div>
                                    </div>
                                    <div class="form-group text_box">
                                        <label class="f_p text_c f_400">Confirm Password</label>
                                        <input type="password" class="form-control" name="cnfpassword"
						placeholder="Enter your password" data-ng-model="user.cnfpassword"
						autocomplete="off"  required="required" />
						
						<div
						data-ng-show="restForm.$submitted || restForm.cnfpassword.$dirty">
						<div
							class="angular-validate-error  text-danger text-left text-size12"
							data-ng-show="restForm.password.$error.cnfpassword">Please Enter
							Password</div>
					</div>
                                    </div>
                  
                  <div tabindex="3" theme="clean" vc-recaptcha
		key="'6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI'"></div>
		                 
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button type="submit" class="btn_three mt-0"  type="submit" 
						data-ng-click="resetPassword(user,user.restForm)">Reset</button>
						
                                       <!--  <div class="social_text d-flex ">
                                            <div class="lead-text">Don't have an account? <a href="#!/create-an-account">Create Now </a></div>
                                            
                                        </div> -->
                                    </div>
                                    <br>
<!--                                     <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="javascript:void(0)" data-ng-click="showForgotPassword()">Forgot password?</a></span> -->
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                             <img src="resources/front/img/login_img.png" class="img-fluid">
                         </div>
                    </div>
                </div>
            </div>
        </section>

          
          